<!DOCTYPE html>
<html>
<head>
  <title>Wildshop</title>
  <%= stylesheet_link_tag    "wildshop/application", media: "all" %>
  <%= javascript_include_tag "wildshop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
